* {
  outline: none;
  box-sizing: border-box;
  -ms-overflow-style: none !important;
  /* IE and Edge */
}


html,
body,
#root {
  
  /* line-height: 140%; */
}

body {
  background : #000!important;
}
